@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif ;
    background: url('/pics/recept-pics/foetelek-pics/bg-body.png') #fff;
   
}
img{
    max-width: 100%;
}
h1{
     font-family: 'Lobster Two', cursive;
     text-align: center;
     font-size: 70px;
     border-top: 2px dashed rgba(0,0,0,.2);
     border-bottom:2px dashed rgba(0,0,0,.2);
     padding: 20px 0;
     margin: 40px 0;
     background: rgba(255,255,255,.8);
     color: #76b332;
     font-weight: 400;
     
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
   display: flex;
   /*
    flex-direction: row;
    flex-wrap: nowrap;*/
    flex-flow: row nowrap;
    align-items: stretch;


}
@media (max-width:800px){
    .content{
        display: block;
    flex-flow: row nowrap;
    align-items: stretch;
    }
}
nav{
    background: rgba(20, 172, 46, 0.5);
    flex-basis: 20vw;
    order: 1;
}
nav ul{
    margin: 0;
    list-style: none;
    padding: 30px 10px 10px 10px;

}
nav li{
    border-bottom: 1px dashed rgba(255,255,255,.3);
}
nav a {
    text-decoration: none;
    color: white;
    padding: 15px; 
    display: block;
}
nav a:hover{
    background: rgba(255,255,255,.2);
}
main{
    flex-basis: 60vw;
    margin: 0 20px;
    order: 2;
}
aside{
    flex-basis: 20vw;
    order: 3;
}
aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
}
aside a{
    display: block;
    color: #354052;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
}
aside li a:hover{
    text-decoration: underline;
}
aside li{
    padding: 15px 5px;
    border-bottom: 1px dashed rgba(0,0,0,.4)
}
.recipes{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

}

.recipe-box{
    background: white;
    border: 1px solid #ddd;
    padding: 0 0 10px 0px;
    margin: 0 10px 20px 10px;
    flex: 1;
    min-width: 250px;
}.recipe-box h2{
    font-size: 18px;
    padding: 10px 20px 0 20px;
    margin: 0;
}
.recipe-box p{
    margin: 0;
    padding: 10px 20px;
    font-size: 14px;
    text-align: justify;
    line-height: 19px;
}
.pagination{
    display: flex;
    flex-flow:  row wrap;
    margin: 30px 0;
    justify-content: flex-start;
}
.pagination .page {
    display: inline-block;
    padding: 5px 8px;
    text-decoration: none;
    background: white;
    border:1px solid rgba(0,0,0,.2);
    color:#354052;
    margin: 0 5px 5px 0;
}
.pagination .page:hover, 
.pagination span.page{
background: black;
color: white;
}
.btn{
    display: inline-block;
    padding: .5rem 1rem;
    background: #86b604;
    color:white;
    text-decoration: none;
    border-radius: 5px ;
}
.mobile-menu-button{
    width: 50px;
    display: block;
    float: right;
    border: 1px solid rgba(255,255,255,.5);
    padding: 10px;
    margin: 7px 5px 0 0;
    display: none;
}
.mobile-menu-button span{
    display: block;
    height: 4px;
    background:white;
    margin: 0 0 5px 0;
    border-radius: 2px;
}
.mobile-menu-button span:last-of-type{
    margin: 0;
}
.mobile-menu-button + input[type="checkbox"]{
display: none;
}
.mobile-menu-button + input[type="checkbox"]:checked~ .navigation li:not(:first-child){
    display: block;
}
@media(max-width:800px){
    .mobile-menu-button{
        display: block;
    }
    .navigation li:first-child{
        padding:1.2rem 1rem ;
    color: rgba(255,255,255,.5);
    }
    .navigation li:not(:first-child){
    display: none;
    
    }
    .navigation li{
        float: none;
    
      
    }
    .navigation a{
        padding: 0.8rem 1rem;
    }
    nav{
        background: #86b604;
        position: sticky;
        top:0;
    }
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    
    }
    nav ul li{
        float: left;
    
    }
    nav::after{
        content:'';
        clear:both;
        display: table;
    }
    nav a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1.2rem 1rem;
    }
    nav a:hover{
        background: rgba(0,0,0,.1) ;
    }
    h1{
       display: none;
        
   }
   
}