@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background:#ddd;
   
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.intro{
    line-height: 1.7;
    font-size: 1.2rem;
    margin: 5rem 0;
}
.intro p{
    margin: 0 0 1rem 0;
}
.intro img{
    float: right;
    margin: 0 0 2rem 2rem;
    border-radius: 50%;
}.intro h1{
    font-weight: 100;
    font-size: 5rem;
}
