@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: url('../pics/recept-pics/bg-body.jpg') fixed;
    font-family: 'Raleway', sans-serif;
}
header{
    background: url('../pics/recept-pics/bg-header.jpg');
    color: white;
    font-size: 100px;
    font-weight: 700;
    padding: 80px 60px;
    text-shadow: 00 20px rgba(0, 0, 0, .8);
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.content{
    background: grey;
}
.content::after {
    content: "";
    clear: both;
    display: table;
}
nav{
    width: 25%;
    float: left;
}
nav ul {
    margin: 0;
    padding: 30px;
    list-style: none;
   
}
nav ul li {
    border-bottom:1px dashed rgba(255,255,255, 2);

}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding:15px 0 ;
}
nav a:hover{
    padding: 5px;
    background: rgb(167, 14, 14);
}
main{
    width: 75%;
    background: white;
    float: left;
}