*{
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    margin: 0;


    background-image: url('../pics/bg-body.gif');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;

    color:black;
    font-size: 16px;
    
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
  

}
.box{
    margin: 40px auto;
    background-color: white;
    max-width: 600px;
    width: 90%;
    
    
}
.header-image{

    background-image: url('../pics/image1.jpg');
    height: 200px;
}
.box-content{
    padding: 20px;
}
.box h2{
    margin: 0px;
    
}
.box.box-2 .header-image{
background-image: url('../pics/image2.jpg');
}